* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inconsolata", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 15px 0;
    font-family: "Inconsolata", sans-serif; 
    font-weight: 500;
    line-height: 1.1;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.content-wrapper {
    height: 100vh;
}

.body-section {
    display: flex;
    width: 50%;
}

.body-section.hero {
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: #22333b;
    color: #e8ebf7;
    height: 100%;
}

.body-section.about {
    flex-direction: column;
    margin-left: 50%;
    color: #22333b;
}

.hero-content {
    width: 80%;
}

.image-carousel-wrapper {
    margin-bottom: 25px;
}

.image-carousel {
    overflow: hidden;
}

.image-slide img {
    width: 100%;
    height: auto;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 280px;
    margin-bottom: 15px;
}

.social-icons a {
    color: #e8ebf7; 
    font-size: 24px;
}

.social-icons a:hover {
    color: #8c1e1a;
}

.resume-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 35px;
    background-color: #8c1e1a;
    border-radius: 8px;
    text-align: center;
    color: #e8ebf7;
    font-weight: bold;
    text-shadow: 1px 1px #505050;
    letter-spacing: 0.5px;
}

.resume-button:hover {
    background-color: #721815;
    color: #e8ebf7;
    text-decoration: none;
    text-shadow: 1px 1px #202020;
}

.about-panel {
    padding: 20px 0 30px;
}

.about-panel:nth-child(odd) {
    background-color: #e8ebf7;
}

.about-panel:nth-child(even) {
    background-color: #e6e8e6;
}

.about-panel-text {
    width: 80%;
    margin: 0 auto;
}

.about-panel-text ul {
    padding-left: 0;
    list-style-type: none;
}

.about-panel-text li {
    margin: 20px 0;
}

.about-panel-text li h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.about-panel-text li a {
    color: #8c1e1a;
}

.about-panel-text li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 775px) {
    .body-section {
        width: 100%;
    }

    .body-section.hero {
        position: relative;
        height: auto;
        padding: 30px;
    }

    .hero-content {
        width: 100%;
    }

    .hero-text {
        text-align: center;
    }

    .social-icons {
        margin: 0 auto 15px;
    }

    .body-section.about {
        margin-left: 0;
    }
}